.header {
    text-align: center;
}
.promo {
    background-color: #f7f1e3;
}
.tagline {
    color: #e67e22;
    font-size: 20px;
    font-weight:500;
}
.movie-name {
    color: #2c3e50;
    font-size: 24px;
    font-weight: 700;
}
.budget {
    font-weight: 500;
    font-size: 18px;
}
.amount {
    color: #e67e22;
    font-size: 20px;
    font-weight: 500;
}
.header nav {
    background-color: #2c3e50;
    line-height: 45px;
    margin-top: 0;
    text-align: left;
    padding-left: 100px;
}
.header nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 25px;
    font-size: 18px;
    font-weight: 600;
    transition: 0.4s linear;
    padding: 5px;
}
.header nav a:hover {
    background-color: #f7f1e3;
    color: #e67e22;
}